Get an Earthquake

<form role="form" action="earthquakes#index" method="get">
  <div class="form-group">
    <label for="date">Date of Earthquake</label>
    <input type="date" class="form-control" id="date" name="on" placeholder="Enter date of earthquake">
  </div>
  <div class="form-group">
    <label for="magnitude">Magnitude</label>
    <input type="magnitude" class="form-control" name="over" id="magnitude" placeholder="Enter magnitude">
  </div>

  <button type="submit" class="btn btn-default">Submit</button>
</form>