<div class="index-container">
  <div class="index-title"><h1>Listing Earthquakes</h1></div>

  <table class="table table-striped">
    <tr>
      <td>Date
      <td>Magnitude
      <td>Latitude
      <td>Longitude
    </tr>
  <% @earthquakes.each do |earthquake| %>
    <tr>
      <td><%= earthquake.date %></td>
      <td><%= earthquake.magnitude %></td>
      <td><%= earthquake.latitude %></td>
      <td><%= earthquake.longitude %></td>
    </tr>
  <% end %>
  </table>

</div>
